.headerNav {
  background: $color-white;

  &__itemContainer {
    @extend .container;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }

  &__itemContainer--open {
    padding: 0;
    position: absolute;
  }

  &__item {
    list-style-type: none;
    position: relative;

    ul {
      background: $color-gray;
      display: none;
      width: auto;
    }
  }

  &__item:hover {
    background: $color-gray;
    color: $color-white;

    a {
      color: $color-white;
    }

    ul {
      display: block;
    }
  }

  &__itemLink {
    color: $color-gray;
    display: block;
    font-size: 14px;
    padding: 7.5px 15px;

    &.active,
    &:active,
    &:focus,
    &:hover {
      background: $color-gray;
      color: $color-white;
      text-decoration: none;
    }
  }

  &__itemLink--open {
    @extend .headerNav__itemLink;

    &.active,
    &:active,
    &:focus,
    &:hover {
      @extend .ani;
      background: $color-satan;
    }
  }
}
