app-root {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 135px 1fr 90px;
}

header {
  background: $color-gray;
  grid-column: span 3;

  > .container {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;

    .header-logo {
      background: url("../../assets/gfx/logo-default.svg") no-repeat;
      background-size: contain;
      cursor: pointer;
      display: block;
      height: 90px;
      width: 90px;
    }

    .btn-group {
      align-self: center;
      margin-left: auto;

      .btn {
        text-transform: uppercase;
      }
    }
  }
}

main {
  background: $color-gray-lite;
  grid-column: span 3;
  min-height: 50%;
  padding: 60px 0;

  article {
    font-size: 12px;
    margin-bottom: 30px;
    overflow: auto;

    .label {
      margin-right: 5px;
    }

    p {
      margin: 15px 0;
    }
  }

  .post {
    .img-thumbnail {
      display: block;
      margin: 15px auto;
      max-width: 300px;
    }
  }
}

footer {
  grid-column: span 3;
  align-items: center;
  background: $color-gray;
  color: $color-silver;
  display: flex;
  font-size: 12px;
  padding: 60px 0;
}
