@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_headerNav.scss";
@import "./_form.scss";

@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

body,
html {
  position: relative;
  height: 100%;
  background: $color-white;
  color: $color-satan;
  font-family: 'Exo 2', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.ani {
  transition: all 0.25s ease;
}

.delay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.btn {
  font-size: 14px;
}

.btn + .btn {
  margin-left: 5px;
}

.btn,
.btn:active,
a {
  &:active,
  &:focus,
  &:hover {
    outline: none;
    outline-offset: 0;
  }
}

h2 {
  font-size: 20px;
  margin: 0 0 15px;
}

h3 {
  font-size: 20px;
  margin: 0 0 45px;
}

hr {
  border: 0;
  border-top: 1px solid $color-silver;
}
