<div class="container">
  <a class="header-logo" title="return to home page" (click)="goHomePage()"></a>
  <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
    <button class="btn btn-default" #langSelect *ngFor="let lang of translate.getLangs()" (click)="switchLanguage(langSelect.value)" [value]="lang" [class.active]="lang === translate.currentLang">{{ lang }}</button>
  </div>
</div>
<nav class="headerNav">
  <ul class="headerNav__itemContainer">
    <li *ngFor="let item of menuItems" class="headerNav__item">
      <a [routerLink]="['/', item.object_slug]" routerLinkActive="active" class="headerNav__itemLink">{{item.title}}</a>
      <ul *ngIf="item && item.children" class="headerNav__itemContainer--open">
        <li *ngFor="let subItem of item['children']" class="headerNav__item">
          <a [routerLink]="['/', subItem.object_slug]" routerLinkActive="active" class="headerNav__itemLink--open">{{subItem.title}}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
